@use "./style/button.scss";
main {
  min-height: calc(100vh - 80px); // account for navbar
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2.5rem;
    border-radius: 12px;
    background-color: #0d0d0d;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  }
  form {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    gap: 0.75rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;

    label {
      font-size: 0.9rem;
      color: #ccc;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #333;
      outline: none;
      padding-inline: 1rem;
      padding-block: 0.75rem;
      border-radius: 4px;
      background-color: #222;
      color: #eee;
    }
  }
  a {
    color: #0088ff;
    text-decoration: none;
  }
}
